REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=

REDIS_HOST=localhost
REDIS_PORT=6376
REDIS_USER=local
REDIS_PASSWORD=password

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=local
POSTGRES_PASSWORD=password
POSTGRES_DB=reddit_stream

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_RAW_TEXT_TOPIC=reddit_raw_comments

DB_FLUSH_INTERVAL=10
DEAD_STREAM_CLEANUP_INTERVAL=120