[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
asyncpraw = "*"
sqlalchemy = "*"
asyncpg = "*"
redis = "*"
pydantic-settings = "*"

[dev-packages]
ruff = "*"
mypy = "*"
pytest = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
