[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
asyncpraw = "*"
sqlalchemy = "*"
asyncpg = "*"
redis = "*"
pydantic-settings = "*"
praw = "*"
confluent-kafka = "*"
aws-glue-schema-registry = "*"
boto3 = "*"

[dev-packages]
ruff = "*"
mypy = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pre-commit = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
